@media only screen and (max-width: 768px){
    .banner-client-slider{    width: 100%!important;}
    .build-to-win .tabbing-links{    width: 100%;}
    .build-to-win .tabbing-links li{       font-size: 14px;    padding: 10px 6px;}
    .mypackages .information{    width: 100%;}
    .testimnl .txt-wrp{padding-right: 10px;     padding-left: 3%;}
}
@media only screen and (max-width: 769px) and (min-width: 0px){
    .slide__roles{    line-height: 1.87rem;margin: 4px 0 0;}
    .home-copy__button{min-width: 160px;    padding: 14px 6px;    font-size: 14px;     line-height: 01;}
    .careers-carousel__cta.chng{padding: 14px 10px;font-size: 14px;min-width: 130px;margin: 0 0 25px 0;}
    .build-to-win{padding: 50px 0 65px;}
    .build-to-win .main-heading h2{    font-size: 44px;}
    .split-panel__description{line-height: 1.5;font-size: 15px !important;}
    .build-to-win .tabbing-links li{      margin: 0 0px 10px;      font-size: 12px;   display: inline-block;}
    .wbport li{    width: 100%;}
    .mypackages{    padding: 90px 0px 110px;}
    .mypackages .myheading{    font-size: 44px;}
    .mypackages .tab-custom.text-center{width:100%;}
    .testimnl .txt-wrp {    margin-bottom: 50px;}
    .testimnl .testim-wrp{opacity: 1;}
    .work-intro__list li:before{    left: -10px;}
    .split-panel__title{    line-height: 1;}
    .kg-top-nav__dropdown__item{    width: 100%;}
    .insights-hero__container{    padding-top: 86px;    padding-left: 1.5rem;    padding-right: 0.5rem;}
    .contact-us-cta__logo-container:after{    bottom: 47px;}
    .testimnl .txt-wrp h4{    font-size: 38px;}
    .home-hero__video-wrapper{display:block;}
    .ovrlywrp:after{top: 0;}
    .mybanform form .wrap .dtf{    width: 87%;     margin: 6px 0;}
    .mybanform form .wrap .dtf.posrelative{    width: 87%;}
    .mybanform form .wrap .dtf input[type="submit"]{    width: 100%;     border-radius: inherit;}
    .mainfrm .mainwrp h4{margin: 40px 0;}
    
    .home-hero { padding-top: 80px; }
    .home-hero__title { font-weight: bold; font-size: 5.625rem; }
    .home-hero p {color: #fff;font-size: 18px;display: block;z-index: 9;width: 70%;font-weight: 500;position: relative;}
    .intl-tel-input { width: 100%; }
    .contact-us-cta__logo-container {margin-top: 60px;}
    .contact-us-cta__main {text-align: center;}
    .kg-contact__description {margin: 20px 0 20px;}
     header.kg-header.stickyheader .kg-top-nav__hamburger span { background: #000 !important;}
    .kg-top-nav__hamburger span {background : #fff;}
    .careers-stats__title {text-align: center;font-weight: 600 !important;color: #15191b !important;margin-top: 0 !important;margin-bottom: 0 !important;font-size: 1.5rem !important;margin-bottom: 30px !important;font-size: 2.5rem !important;}
    .careers-stats__stat-wrapper { text-align: center !important; }
    .hero {position: relative;max-height: 875px;height: 875px;padding-top: 0;}
    .mybanform {text-align: center;}
    .hero__title  { font-size: 3rem; margin-bottom: 20px;}
    .mybanform {padding: 30px 0 0 0;}
    .section-intro__content {padding: 0;}
    .work-intro__list {padding-left: 25px;}
    .kg-top-nav__main-link__cta {    padding: 15px !important;}
}   

@media screen and (max-width: 480px) {
    .home-hero__title { font-weight: bold; font-size: 2.625rem; color: #fff;}
    .kg-header--top .mainlogo, .kg-header .sndlogo { width: 100%;}
    .floatbutton {display: none;}
    .mainfrm .mainwrp h4{margin: 40px 20px;}
    .home-hero p {position: relative; margin: 10px auto;}
    .banner-client-slider {bottom: 75px;     margin-top: 0;     padding: 30px 15px 35px 15px;}
    .slide__content {    height: 385px;}
    .mybanform {padding: 30px 0 0 0;}
    .wbport li { margin: 0;}
    .build-to-win .tabbing-links li { padding: 10px 10px;}
    .mypackages .tab-custom .tabbing-links li {    padding: 10px 18px;}
    .testimnl .testim-wrp {    margin: 0;}
    header .kg-logo__container { width: 45%;}
    .kg-top-nav__main-link__cta {    padding: 15px !important;}
    .hero {position: relative;max-height: 1000px;height: 1000px;padding-top: 0;     background: #2525258a;}    
    .hero__title, .hero__subtitle { color: #ffffff;}
    .hero__content {    padding-top: 80px;}
    .swiper-video-height-fix { padding: 0px 220px;}
    .work-intro__list .col-xs-6 { flex-basis: 100%; max-width: 100%;}
    
}
/*@media screen and (min-width: 320px){*/
/*    .home-copy__button{    font-size: 10px;    min-width: 130px;}*/
/*    .careers-carousel__cta.chng{    font-size: 10px;    min-width: 120px;}*/
/*}*/









