.container {
    max-width: 1400px;
    margin: 0 auto;
}

@media screen and (max-width:1400px) {
    .container {
        max-width: 1300px;
    }
}

@media screen and (max-width:1200px) {
    .container {
        max-width: 1080px;
    }
}

html,
body {
    overflow-x: hidden;
    margin: 0px;
}

a {
    text-decoration: none;
}

ul li {
    list-style: none;
}

ul {
    margin: 0px;
    padding: 0px;
}

.sub-header {
    background-color: #8ad69f;
    padding: 15px 0px;
}

.sub-header .container {
    display: flex;
    justify-content: space-between;
}

.sub-header .container ul {
    display: flex;
    gap: 30px;
}

.sub-header .container ul span {
    margin-right: 10px;
}

.sub-header .container ul li a {
    color: #000000;
    font-family: 'Montserrat';
    font-size: 14px;
}

.header-main .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0px;
}

.header-main .container .nav ul {
    display: flex;
    gap: 25px;
    align-items: center;
}

.header-main .container .nav ul li a {
    font-family: 'Montserrat';
    font-size: 14px;
    color: #fff
}

.header-main .container .logo img {
    width: 100%;
    height: 76px;
}

.header-main .container .nav {
    background-color: #0000005e;
    padding: 20px;
    border-radius: 42px;
}

header {
    position: relative;
}

header .nav ul li:nth-child(3):hover ul.dropdown {
    visibility: visible;
}

header .nav ul.dropdown {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: #587d9b;
    padding: 26px 15px;
    border-radius: 15px;
    visibility: hidden;
}

header .nav ul.dropdown li {
    padding: 10px;
}

header .nav ul.dropdown li:hover {
    background-color: #fff;
    padding: 10px;
    border-radius: 12px;
    color: #587d9b;
}

header .nav ul.dropdown li:hover a {
    color: #587d9b;
}

html,
body {
    background-color: #000 !important;
}

.header-main {
    background-color: #00000091;
    backdrop-filter: blur(13px);
    position: absolute;
    width: 100%;
    z-index: 99;
}

section.hero-sec {
    background-image: url("../images/hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

ul {
    margin: 0px !important;
    padding: 0px !important;
}

a {
    text-decoration: none !important;
}

section.hero-sec:before {
    content: '';
    background: linear-gradient(45deg, #466e51ba 50%, transparent 60%);
    width: 100%;
    height: 800px;
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
}

section.hero-sec .row {
    z-index: 2;
    position: relative;
    margin-top: 135px;
    align-items: center;
}

section.hero-sec h3.sub-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat';
}

section.hero-sec a.btn {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 12px 25px;
}

section.hero-sec h3.sub-title:after {
    content: '';
    background-color: #8ad69f;
    width: 42px;
    height: 3px;
    position: absolute;
    top: 9px;
    bottom: 0px;
    right: -57px;
}

section.hero-sec h1 {
    font-size: 68px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 4;
}

section.hero-sec h1:before {
    content: '';
    background-color: #8ad69f;
    position: absolute;
    width: 301px;
    height: 50%;
    z-index: -1;
    left: -7px;
}

section.hero-sec p {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 30px;
}

.btn {
    --color: #8ad69f;
    --color2: rgb(10, 25, 30);
    background-color: transparent;
    border-radius: 6px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    text-transform: uppercase;
}

.btn::after,
.btn::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

.btn::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

.btn:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}

.btn:hover {
    color: var(--color2);
}

.btn:active {
    filter: brightness(.7);
    transform: scale(.98);
}

.nav li.btn {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 8px 22px;
    border-radius: 23px;
}

@keyframes slides {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}

.logos {
    overflow: hidden;
    padding: 0px 0px;
    white-space: nowrap;
    position: relative;
    background-color: #000000;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logos:before {
    left: 0;
    background: linear-gradient(to left, rgb(138 214 159 / 0%), rgb(138 214 159));
}

.logos:after {
    right: 0;
    background: linear-gradient(to right, rgb(138 214 159 / 0%), rgb(138 214 159));
}

.logo_items {
    display: flex;
    animation: 35s slides infinite linear;
}

section.about img {
    width: 100%;
    height: auto;
}

section.about .row img {
    width: 75%;
}

section.about {
    padding: 120px 0px;
}

section.about .row {
    align-items: center;
}

.logo_items img {
    height: 130px;
    padding: 0px 46px;
}

section.about h3.sub-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat';
}

section.about a.btn {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 12px 25px;
}

section.about h3.sub-title:after {
    content: '';
    background-color: #8ad69f;
    width: 42px;
    height: 3px;
    position: absolute;
    top: 9px;
    bottom: 0px;
    right: -57px;
}

section.about h1 {
    font-size: 68px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 4;
}

section.about h1:before {
    content: '';
    background-color: #8ad69f;
    position: absolute;
    width: 301px;
    height: 50%;
    z-index: -1;
    left: -7px;
}

section.about p {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 30px;
}

div#owl_slidr {
    display: flex;
}

section.services img {
    width: 100%;
}

section.services .item {
    border: 1px solid #fff;
}

section.services {
    padding: 0px 0px 120px 0px;
}

section.services .item {
    padding: 50px;
    border-radius: 40px;
    box-shadow: 1px 1px 20px 13px #8ad69f33;
    margin: 30px;
}

section.services .item .row {
    align-items: center;
}

section.services .item .row .col-md-6:nth-child(2) {
    padding-left: 80px;
    padding-right: 20px;
}



section.services h3.sub-title {
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    font-family: 'Montserrat';
}

section.services a.btn {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 12px 25px;
}

section.services h3.sub-title:after {
    content: '';
    background-color: #8ad69f;
    width: 42px;
    height: 3px;
    position: absolute;
    top: 9px;
    bottom: 0px;
    right: -57px;
}

section.services h1 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 4;
    margin-bottom: 58px;
}

section.services h1:before {
    content: '';
    background-color: #8ad69f;
    position: absolute;
    width: 179px;
    height: 100%;
    z-index: -1;
    left: -7px;
}

section.services p {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 30px;
}

ul.logo_items li {
    list-style: disc;
    margin-left: 39px;
    font-size: 22px;
    font-weight: 700;
    font-family: 'Montserrat';
    color: #fff;
}

.logos {

    padding: 20px !important;
    background-color: #8ad69f;
}





@keyframes slidess {
    to {
        transform: translateX(0%);
    }

    from {
        transform: translateX(-100%);
    }

}

.logoss {
    overflow: hidden;
    padding: 0px 0px;
    white-space: nowrap;
    position: relative;
    background-color: #000000;
}

.logoss:before,
.logoss:after {
    position: absolute;
    top: 0;
    content: '';
    width: 250px;
    height: 100%;
    z-index: 2;
}

.logoss {
    padding: 20px;
    border: 1px solid #8ad69f;
}

.logoss .logo_items {
    display: flex;
    animation: 35s slidess infinite linear;
}

section.header-bottom {
    padding: 120px 0px;
    color: #fff;
    font-family: 'Montserrat';
}

section.header-bottom .certified {
    display: flex;
    gap: 66px;
    margin-top: 60px;
}

section.header-bottom .certified img {
    width: 100%;
    height: 131px;
    object-fit: contain;
}



section.header-bottom .row .col-md-12 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section.header-bottom .row .col-md-12 p {
    text-align: center;
    font-size: 16px;
    line-height: 31px;
}

section.header-bottom .row .col-md-12 h2 {
    display: inline-block;
    background: linear-gradient(45deg, #8ad69f, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 56px;
    text-align: center;
    font-weight: 600;
    width: 70%;
    margin-bottom: 30px;
}


section.services .col-md-4 img {
    filter: invert(1);
    width: 80px;
    margin-bottom: 20px;
}

section.services .col-md-4 h3.title {
    color: #fff;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 700;
}

section.services .col-md-4 p {
    font-size: 14px;
    line-height: 24px;
    margin-top: 20px;
}

section.services .col-md-4 a.btn-1 {
    color: #8ad69f;
    font-size: 18px;
    font-family: 'Montserrat';
    font-weight: 600;
}

section.services .col-md-4 {
    border: 1px solid #fff;
    padding: 40px 20px;
}

section.services h1 {
    display: inline-flex;
    justify-content: center;
}

section.services {
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
}

section.services .col-md-4 {
    position: relative;
    overflow: hidden;
}

section.services .col-md-4::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #8ad69f;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 0;
}

section.services .col-md-4:hover::before {
    transform: translateY(0);
}

section.services .col-md-4 img,
section.services .col-md-4 h3,
section.services .col-md-4 p,
section.services .col-md-4 a {
    position: relative;
    z-index: 1;
}

section.services .col-md-4:hover img,
section.services .col-md-4:hover h3,
section.services .col-md-4:hover p,
section.services .col-md-4:hover a {
    color: #000;
    filter: invert(0);
}

body {
    position: relative;
    overflow-x: hidden;
}

/* Body background */
body {
    margin: 0;
    background: #000;
    height: 100vh;
    overflow-x: hidden;
}

/* Glowing gradient circle */
.gradient-cursor {
    position: fixed;
    width: 200px;
    height: 200px;
    pointer-events: none;
    border-radius: 50%;
    background: radial-gradient(circle, #8ad69f, #8ad69f);
    opacity: 1;
    mix-blend-mode: screen;
    filter: blur(50px);
    z-index: 9999;
    transform: translate(-50%, -50%);
}

section.section-one,
section.section-two,
section.section-three,
section.section-four {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}

.panel {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #8ad69f;
    top: 100%;
    z-index: 1;
}

section:nth-child(odd) .panel {
    background: #4e8f6a;
}

.content {
    z-index: 2;
    opacity: 0;
    transform: translateY(30px);
}

.section-one .panel {
    background: #8ad69f;
}

.section-two .panel {
    background: #8ad69f;
}

.section-three .panel {
    background: #8ad69f;
}

.section-four .panel {
    background: #8ad69f;
}


section.section-one img,
section.section-two img,
section.section-three img,
section.section-four img {
    width: 100%;
    height: 800px;
    object-fit: cover;
}

section.section-one .col-md-6,
section.section-two .col-md-6,
section.section-three .col-md-6,
section.section-four .col-md-6 {
    padding: 0px !important;
}

section.section-one a,
section.section-two a,
section.section-three a,
section.section-four a {
    font-family: 'Montserrat';
    color: #fff;
    font-weight: 700;
    border: 1px solid #fff;
    padding: 12px 25px;
    margin-left: 30px;
}

section.section-one p,
section.section-two p,
section.section-three p,
section.section-four p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 34px;
    margin-left: 30px;
}

section.section-one h3,
section.section-two h3,
section.section-three h3,
section.section-four h3 {
    display: inline-block;
    background: linear-gradient(45deg, #8ad69f, #fff);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    width: fit-content;
    font-size: 56px;
    text-align: left;
    font-weight: 600;
    width: 70%;
    margin-bottom: 30px;
    margin-left: 30px;
    font-family: 'Montserrat';
}

section.section-one .row,
section.section-two .row,
section.section-three .row,
section.section-four .row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: anchor-center;
}

footer {
    padding-top: 60px;
    border-top: 5px solid #8ed7a0;

}

footer .logo img {
    width: 70%;
    margin-bottom: 20px;
}

footer p {
    color: #fff;
    font-size: 14px;
    font-family: 'Montserrat';
}

footer h3.title {
    color: #fff;
    font-family: 'Montserrat';
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    position: relative;
}

footer h3.title:after {
    content: '';
    background-color: #8ed6a1;
    width: 60px;
    height: 3px;
    position: absolute;
    bottom: -7px;
    left: 4px;
}

footer ul {
    margin-top: 40px !important;
}

footer ul li {
    margin-bottom: 20px;
    color: #fff;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 700;
}

footer ul li a {
    color: #fff;
    font-weight: 400;
}

footer ul li a:hover {
    color: #8ed6a1;
}

footer .copy.row {
    margin-top: 60px;
}

footer .row .copyright {
    border-top: 5px solid #8ed7a0;
    display: flex;
    justify-content: center;
    text-align: center;
    font-family: 'Montserrat';
    font-size: 15px;
    font-weight: 500;
    align-items: center;
    color: #fff;
    padding: 20px 0px;
}

html {
    scroll-behavior: smooth;
}

.panel,
.content {
    will-change: transform, opacity;
}

.form-banner input,
.form-banner select,
.form-banner textarea {
    width: 100%;
}

.form-banner {
    padding: 50px 45px;
    background-color: #00000094;
    border-radius: 30px;
    width: 70%;
    backdrop-filter: blur(5px);
    float: right;
}

.form-banner input {
    border-radius: 10px;
    padding: 10px 24px;
    outline: none;
    border: none;
    margin-bottom: 20px;
}

.form-banner select {
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
}

.form-banner textarea {
    padding: 10px 20px;
    border-radius: 10px;
    color: #000;
    margin-bottom: 20px;
}

.form-banner select option {
    color: #000;
    background-color: #8ad69f;
    font-family: 'Montserrat';
}

.form-banner button {
    width: 100%;
    outline: none;
    border: none;
    background-color: #8ad69f;
    font-family: 'Montserrat';
    font-weight: 600;
    padding: 11px 15px;
    border-radius: 50px;
}

.form-banner textarea,
.form-banner input,
.form-banner select {
    background-color: #ffffff;
    border: none !important;
}

.form-banner textarea::placeholder,
.form-banner input::placeholder {
    color: #000;
    font-family: 'Montserrat';
}

.form-inner h4.sub-title {
    text-align: center;
    color: #fff;
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 28px;
    margin-bottom: 30px;
}

section.packages {
    padding-bottom: 80px;
    padding-top: 60px;

}

section.packages .row h2 {
    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 4;
    margin-bottom: 40px;
}

section.packages .row h2:before {
    content: '';
    background-color: #8ad69f;
    position: absolute;
    width: 370px;
    height: 100%;
    z-index: -1;
    left: -7px;
}

section.packages .row p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 34px;
    color: #fff;
    text-align: center;
}

section.packages .row h2 {
    text-align: center;
    display: flex;
    align-items: center;
    width: max-content;
}

section.packages .row {
    justify-content: center;
    align-items: center;
}

section.packages .row:nth-child(2) {
    margin-top: 50px;
}

section.packages .row ul.nav.nav-tabs.custom-tabs {
    justify-content: center;
    gap: 36px;
}

.portfolio-tabs .custom-tabs {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    justify-content: center;
    padding: 0px 0 0px 0 !important;
    gap: 32px;
}

.custom-tabs .nav-link {
    font-weight: 600;
    padding: 12px 20px;
    border-radius: 0;
    color: #fff;
    background-color: #8ad69f;
    font-family: 'Montserrat';
}

.custom-tabs .nav-link:hover {

    color: #fff;

}

.portfolio-tabs .nav-link:focus,
.nav-link:hover {
    color: #8ad69f;
    background-color: transparent;
    transition: all 0.5s;
}

.sec-top.d-flex.justify-content-center {
    align-items: center;
    flex-direction: column;
    padding: 80px 0 0 0;
}

.sec-top.d-flex.justify-content-center h2 {

    font-size: 60px;
    font-weight: 700;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    margin-top: 10px;
    position: relative;
    z-index: 4;
    margin-bottom: 40px;
}


.sec-top.d-flex.justify-content-center h2:before {
    content: '';
    background-color: #8ad69f;
    position: absolute;
    width: 370px;
    height: 100%;
    z-index: -1;
    left: -7px;
}

.sec-top.d-flex.justify-content-center p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'Montserrat';
    line-height: 34px;
    color: #fff;
    text-align: center;
}

.sec-bot .tab-content.mt-4 {
    padding: 0px 0 40px 0;
}

.sec-bot .tab-content img {
    height: 300px;
    object-fit: cover;
    border-radius: 0px !important;
}

.sec-bot .col-md-3 {
    padding: 0px 10px 20px 10px;
}

section.packages .row.g-3 .pack-one {
    border: 1px solid #fff;
    padding: 31px 32px;
}

section.packages .row.g-3 .col-md-4 {
    padding: 0px;
    margin: 0px;
}

section.packages .row.g-3 {
    margin-top: 50px;
}

section.packages .row.g-3 .pack-one::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: #8ad69f;
    transform: translateY(100%);
    transition: transform 0.4s ease;
    z-index: 0;
}

section.packages .row.g-3 .pack-one:hover::before {
    transform: translateY(0);
}

section.packages .row.g-3 .pack-one {
    position: relative;
    overflow: hidden;
}

section.packages .row.g-3 .pack-one ul li,
section.packages .row.g-3 .pack-one h5,
section.packages .row.g-3 .pack-one h3,
section.packages .row.g-3 .pack-one h4,
section.packages .row.g-3 .pack-one a {
    position: relative;
    z-index: 1;
    color: #fff;
    font-family: 'Montserrat';
}

section.packages .row.g-3 .pack-one:hover ul li,
section.packages .row.g-3 .pack-one:hover h5,
section.packages .row.g-3 .pack-one:hover h3,
section.packages .row.g-3 .pack-one:hover h4,
section.packages .row.g-3 .pack-one:hover a {
    color: #000;
}
section.packages .row.g-3 .pack-one a {
    --color: #000;
    --color2: #fff;
    background-color: #8ed7a0;
    border-radius: 6px;
    transition: .5s;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    z-index: 1;
    text-transform: uppercase;
    padding: 12px 45px;
    color: #000;
    font-weight: 600;
    font-size: 14px;
    position: relative;
    overflow: hidden;
    width: max-content !important;
    display: inline-flex;
}

section.packages .row.g-3 .pack-one a::after,
section.packages .row.g-3 .pack-one a::before {
    content: '';
    display: block;
    height: 100%;
    width: 100%;
    transform: skew(90deg) translate(-50%, -50%);
    position: absolute;
    inset: 50%;
    left: 25%;
    z-index: -1;
    transition: .5s ease-out;
    background-color: var(--color);
}

section.packages .row.g-3 .pack-one a::before {
    top: -50%;
    left: -25%;
    transform: skew(90deg) rotate(180deg) translate(-50%, -50%);
}

section.packages .row.g-3 .pack-one a:hover::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

section.packages .row.g-3 .pack-one a:hover::after {
    transform: skew(45deg) translate(-50%, -50%);
}
section.packages .row.g-3 .pack-one:hover a::before {
    transform: skew(45deg) rotate(180deg) translate(-50%, -50%);
}

section.packages .row.g-3 .pack-one:hover a::after {
    transform: skew(45deg) translate(-50%, -50%);
}


section.packages .row.g-3 .pack-one:hover a {
    color: var(--color2);
}

section.packages .row.g-3 .pack-one a:active {
    filter: brightness(.7);
    transform: scale(.98);
}
section.packages .row.g-3 .pack-one ul.points {
    margin-bottom: 35px !important;
}