ErrorDocument 400 https://www.webappsolution.org/404.php
ErrorDocument 401 https://www.webappsolution.org/404.php
ErrorDocument 403 https://www.webappsolution.org/404.php
ErrorDocument 404 https://www.webappsolution.org/404.php
ErrorDocument 503 https://www.webappsolution.org/404.php
RewriteEngine On
RewriteBase /
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.php [NC,L]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteRule ^(.*)$ http://www.%{HTTP_HOST}/$1 [R=301,L]
RewriteCond %{REQUEST_URI} ^/404/$
RewriteRule ^(.*)$ /404.php [L]

